<!DOCTYPE html>
<html lang="tr">
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Sentimentim</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Turkish Sentiment Analyzer</h1>

     <!-- Main Input For Receiving Query to our ML -->
     {% if result.user_query == 'BOS' %}
     	<form method="POST">
    		<input type="text" name="user_query" placeholder="Enter Your Text Here" />
        	<button type="submit" class="btn btn-primary btn-block btn-large">Predict Sentiment</button>
    	</form>
    {% else %}
    	<form method="POST">
    		<input type="text" name="user_query" value="{{result.user_query}}" />
        	<button type="submit" class="btn btn-primary btn-block btn-large">Predict Sentiment</button>
    	</form>

		<div class="result">
  			<h1>Sentiment Score: {{ result.sentiment_score }}</h1>
  		</div>
    {% endif %}
      
   <br>
   <br>

  

 </div>


</body>
</html>

